* text=auto !eol
/Makefile -text
/apertium-tet-por.por.dix -text
/apertium-tet-por.post-por.dix -text
/apertium-tet-por.tet-por.dix -text
/apertium-tet-por.tet-por.lrx -text
/apertium-tet-por.tet-por.rlx -text
/apertium-tet-por.tet-por.t1x -text
/apertium-tet-por.tet-por.t2x -text
/apertium-tet-por.tet-por.t3x -text
/apertium-tet-por.tet-por.t4x -text
/apertium-tet-por.tet.acx -text
/apertium-tet-por.tet.dix -text
dev/disambig/sent1.txt -text
dev/testvoc/inconsistency-summary.sh -text
dev/testvoc/inconsistency.sh -text
dev/testvoc/testvoc-summary.tet-por.txt -text
dev/testvoc/testvoc.sh -text
/modes.xml -text
/tet-por.prob -text svneol=unset#unset
